.qtip {
  max-width: 440px;
  max-height: 440px;
  padding: 4px;
  font-family: "arial", sans-serif;
  color: #141414;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-color: white;
  border-style: none;
  border-radius: 8px;
}

.night_mode .qtip {
  background-color: #121212;
  border-color: #121212;
  color: #FFFAFA;
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.4);
}

.qtip-content::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}
.qtip-content::-webkit-scrollbar-corner {
  background-color: white;
}
.qtip-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c1c1c1;
  min-height: 50px;
}

.night_mode .qtip-content::-webkit-scrollbar {
  background-color: #121212;
}
.night_mode .qtip-content::-webkit-scrollbar-corner {
  background-color: #121212;
}
.night_mode .qtip-content::-webkit-scrollbar-thumb {
  background-color: #656565;
}
.night_mode > .qtip img {
  background: white;
}

.qtip-bootstrap .qtip-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.qtip-content {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
}
.tt-res {
  border-color: #c1c1c1;
  position: relative;
  margin-top: 0em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.night_mode .tt-res {
  border-color: #2f2f31;
}

.tt-disabled {
  filter: blur(1px);
}

.tt-dict {
  background-color: #f2f2f2;
}
.night_mode > .qtip .tt-dict {
  background-color: #0d0d0d;
}
.tt-dict-title {
  font-weight: bold;
  text-align: center;
}
.tt-fld {
  margin-top: 0.5em;
}
.tt-reslist {
  text-align: center;
}
.tt-brws {
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 2px;
  line-height: 5px;
  vertical-align: bottom;
  color: #00a8a8;
  cursor: pointer;
}
.night_mode .tt-brws {
  color: #ffde59;
}
.tt-footer {
  float: right;
  color: grey;
  font-size: 0.8em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.tt-footer-link {
  color: #008080;
}
.night_mode .tt-footer-link {
  color: #ffde59;
}
.highlight {
  background-color: #ffffa5;
}
.night_mode > .qtip .highlight {
  color: black;
}
.qtip img {
  max-width: 100% !important;
  max-height: 100% !important;
}
.qtip iframe {
  max-width: 100% !important;
  max-height: 100% !important;
}
