/* # Deck workarounds #### */

/* Some decks like the SALT deck make the entire card content unselectable.
No clue why, but it does not seem desirable from a user standpoint. */

body,
div {
  user-select: initial;
}

/* General CSS reset */

.qtip.pdict-popup {
  text-align: initial;
  text-decoration: initial;
  background-color: initial;
  font-variant: initial;
  font-feature-settings: initial;
  color: initial;
  font-family: "arial", sans-serif;
  font-size: initial;
  font-style: normal;
  font-weight: 400;
  user-select: initial;
}

.qtip.pdict-popup div {
  background: initial;
  height: initial;
  width: initial;
  line-height: initial;
  text-decoration: none !important;
  font-size: 1em !important;
  font-style: normal !important;
  font-variant: initial !important;
  font-weight: initial !important;
}

.qtip.pdict-popup a {
  text-decoration: none !important;
  cursor: pointer !important;
  font-family: "arial", sans-serif !important;
  font-size: 1em !important;
  font-style: normal !important;
  font-variant: initial !important;
  font-weight: initial !important;
}

/* # Regular CSS #### */

/* Main pop-up */

.qtip.pdict-popup {
  color: #141414 !important;
  background-color: white !important;
  max-width: 440px !important;
  max-height: 440px !important;
  padding: 4px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) !important;
  border-color: white !important;
  border-style: none !important;
  border-radius: 8px !important;
}

.night_mode .qtip.pdict-popup {
  color: #fffafa !important;
  background-color: #121212 !important;
  border-color: #121212 !important;
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.4) !important;
}

.qtip.pdict-popup img,
.qtip.pdict-popup iframe {
  max-width: 100% !important;
  max-height: 100% !important;
}

.night_mode .qtip.pdict-popup img {
  background: white !important;
}

.qtip.pdict-popup.pdict-disabled {
  filter: blur(1px) !important;
}

/* Result list scrollbar */

.qtip.pdict-popup .qtip-content::-webkit-scrollbar {
  background-color: white !important;
  width: 10px !important;
}
.qtip.pdict-popup .qtip-content::-webkit-scrollbar-corner {
  background-color: white !important;
}
.qtip.pdict-popup .qtip-content::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  background-color: #c1c1c1 !important;
  min-height: 50px !important;
}

.night_mode .qtip.pdict-popup .qtip-content::-webkit-scrollbar {
  background-color: #121212 !important;
}
.night_mode .qtip.pdict-popup .qtip-content::-webkit-scrollbar-corner {
  background-color: #121212 !important;
}
.night_mode .qtip.pdict-popup .qtip-content::-webkit-scrollbar-thumb {
  background-color: #656565 !important;
}


/* Result list */

.qtip.pdict-popup .qtip-content {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 5px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 5px !important;
  max-width: 400px !important;
  max-height: 400px !important;
  overflow-y: auto !important;
}
.qtip.pdict-popup .pdict-res {
  border-color: #c1c1c1 !important;
  position: relative !important;
  margin-top: 0em !important;
  margin-bottom: 1em !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 4px !important;
}

.qtip.pdict-popup .pdict-reslist {
  text-align: center !important;
}

.night_mode .qtip.pdict-popup .pdict-res {
  border-color: #2f2f31 !important;
}

/* Browse arrows */

.qtip.pdict-popup .pdict-brws {
  font-size: 1.2em !important;
  position: absolute !important;
  bottom: 5px !important;
  right: 2px !important;
  line-height: 5px !important;
  vertical-align: bottom !important;
  color: #00a8a8 !important;
  cursor: pointer !important;
}
.night_mode .qtip.pdict-popup .pdict-brws {
  color: #ffde59 !important;
}

/* Dictionary entries */

.qtip.pdict-popup .pdict-dict {
  background-color: #f2f2f2 !important;
}

.night_mode .qtip.pdict-popup .pdict-dict {
  background-color: #0d0d0d !important;
}
.qtip.pdict-popup .pdict-dict-title {
  font-weight: bold !important;
  text-align: center !important;
}
.qtip.pdict-popup .pdict-fld {
  margin-top: 0.5em !important;
}

/* Footer */

.qtip.pdict-popup .pdict-footer {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  font-size: 0.8em !important;
  margin-right: 1em !important;
  margin-left: 0.5em !important;
}
.qtip.pdict-popup .pdict-footer-right {
  margin-right: 0.8em !important;
}
.qtip.pdict-popup .pdict-footer-left {
  color: grey !important;
}
.qtip.pdict-popup .pdict-footer-link {
  color: #008080 !important;
  text-decoration: none !important;
}
.night_mode .qtip.pdict-popup .pdict-footer-link {
  color: #ffde59 !important;
}

/* Phrase highlights */

.qtip.pdict-popup .pdict-highlight {
  background-color: #ffffa5 !important;
}
.night_mode .qtip.pdict-popup .pdict-highlight {
  color: black !important;
}
